*{
    margin: 0;
    padding: 0;
}
nav{
    background: #FAE3B6;
    padding: 30px 0;
}
ul{
    list-style: none;
  
}
.container{
    width: 1320px;
    margin: 0 auto
}

.box{
    display:flex;
    align-items: center;
    

}

.logo{
    width: 25%;
 
}
.menubar{
    width: 50%;
 

}
.button{
    width: 25%;
   
}
nav ul{
    display: flex;
    column-gap: 40px;
}
nav button a{
   text-decoration: none;
}
a{
    text-decoration: none;
}
nav .button a {
   background:  #FDBB57;
   padding: 10px 30px;
   border-radius: 10px;
   color: black;
   font-style: 24px;
   display: inline-block;
   font-family: "Poppins", sans-serif;
   font-weight: 600;
   border: 1px solid transparent;
   box-shadow: 0px 4px 4px #00000040;

}
.li{
       font-size: 24px;
       color: black;
       font-weight: 600;
       font-family: "Poppins", sans-serif;
}
nav .button a:hover{
    background-color: #FFD687;
    border-color: #F2D09B;
}
/* =========
banner part start
======== */
.banner{
    background-color:#FAE3B6;
    ;
}
.banner .box{
    height: 900px;
    align-items: center;
    justify-content: center;

}
.box .left{
    width: 50%;
}
.box .right{
    width: 50%;
}
.banner .left h1{
    font-size: 64px;
    font font-family:   "Poppins", sans-serif;
    font-weight: 600;
    width: 441px;
    line-height: 96px;        
}
.banner .left p{
    font-size: 22px;
    font font-family:   "Poppins", sans-serif;
    font-weight: 400;
    width: 432px;
    line-height: 33px;
    padding-bottom: 38px;
    padding-top: 78px;
}
.banner .left a{
   background-color: black;
   padding: 25px 91px;
   color: white;
   border-radius: 10px;
   font-size: 24px;
   font-weight: 600;
   font-family: "Poppins", sans-serif;
   line-height: 35px;
   border: 1px solid transparent;
}
.banner .left a:hover{
    background-color: transparent;
    border-color: black;
}
/* collection start */

.collection h2{
    font-size: 64px;
    font-family:  "Frank Ruhl Libre", serif;
    font-weight: 700;
    line-height: 82.62px;
    color: black;
    text-align: center;
    padding-bottom: 28px;
}

.collection .cart{
    width: 350px;
    height: 400px;
    position: relative;
    overflow: hidden;

}
.collection .box {
    display: flex;
    gap: 150px; /* Adjust spacing as needed */
    justify-content: center; /* Center-align the items */
}

.collection .cart img{
    width: 100%;  
    height: 100%;

}
.collection{
    padding: 200px 0px;
}

.collection .cart .overley{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 100%;
    background: rgb(0, 0, 0,0.3);
    bottom: 0;
    padding-top: 300px;
    padding-left: 20px;
    box-sizing: border-box;
    border-radius: 20px;
    transition: 400ms;
}
.collection .cart .overley a{
   font-size: 20px;
   font-weight: 600;
   color: black;
   font-family: "Poppins", sans-serif;
   background: white;
   border-radius: 20px;
   padding: 9px 108px;
   
}
.collection .cart:hover .overley {
     top: 0;  
}
/* collection end*/





/* fashion part start */
.fashion{
    padding-bottom: 200px;
    margin: 300px;
}

.fashion .box{
    align-self: center;
}
.fashion .left{
    width: 50%;
}
.fashion .right{
    width: 50%;
    padding-left: 100px;
}
.fashion .right h2{
    font-size: 64px;
    font-family:  "Frank Ruhl Libre", serif;
    font-weight: 700;
    color: black;
    width: 438px;
    padding-bottom: 63px;
}
.fashion .right p{
    font-size: 24px;
    font-family:  "Frank Ruhl Libre", serif;
    font-weight: 600;
    color: black;
    width: 402px;
}
.fashion .fun-fact{
    width: 793px;
    padding: 71px 0px;
    background-color: #FEECC8;
    position: absolute;
    right: 0;
    bottom: -201px;
    display: flex;
    z-index: -1;
    justify-content: space-around;
} 
.fashion .fashion-content{
    position: relative;
}
.fashion .fun-fact h4{
    font-size: 64px;
    font-family: "Podkova", serif; 
    font-weight: 700;
    color: black;
    
    
}
.fashion .fun-fact p{
    font-size: 28px;
    font-family: "Podkova", serif; 
    font-weight: 700;
    color: black;
    
}

.fashion .fun-fact div{
    border-right: 1px solid black;
    padding: 30px;
}
.fashion .fun-fact .lastdiv{
    border-right: 0px;
}

/* fashion part end */

/* product part end */
.product{
    background-color: #CFA485;
    padding-top: 40px;
    padding-bottom: 150px;
}

.product .left{
    width: 40%;
}
.product .right{
    width: 60%;
    display: flex;
    justify-content: space-between;
}
.product .left a{
    background-color: black;
    padding: 25px 91px;
    color: white;
    border-radius: 10px;
    font-size: 24px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    line-height: 35px;
    border: 1px solid transparent;
}
.product .left h2{
    font-size: 64px;
    font-family: "Frank Ruhl Libre", serif; 
    font-weight: 700;
    color: white;
    
}
.product .left p{
    font-size: 24px;
    font-family: "Frank Ruhl Libre", serif; 
    font-weight: 700;
    color: white;
    width: 437px;
    padding-top: 43px;
    padding-bottom: 40px;
}
.product .left a{
    display: inline-block;
}
.product .right .card{
    width: 367px;
    height: 551px;
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
    background-color: white;


}
.product .right .card img{
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
}
.product .right .card ul{
    display: flex;
    column-gap: 7px;
}

.product .right .card ul li i{
    color: #FFAF37;
}
.product .right .card .subbox{
    padding-top: 14px;
    padding-left: 22px;
    padding-bottom: 9px;
}
.product .right .card .price{
    display: flex;
    column-gap: 31px;
}
.product .right .card .price p{
    font-style: 24px  ;
    font-weight: 400;
    color: #C4C4C4;
}
.product .right .card .price span{
    font-style: 24px  ;
    font-weight: 500;
    color: #000000;
}
/* product part end */